<!doctype html>
<html ng-app="mailApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script>
      function parsePADDate(dateString) {
          dateString = '20' + dateString;
          var match = /^(\d\d\d\d)(\d\d)(\d\d)(\d\d)(\d\d)(\d\d)/.exec(dateString);
          var mailDate = new Date(Number(match[1]), Number(match[2]) - 1, Number(match[3]), Number(match[4]), Number(match[5]), Number(match[6]));
          return mailDate;
      }
      function calculateDays(mailDate) {
          mailDate = parsePADDate(mailDate);
          var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
          var currentDate = new Date();
          var diffDays = Math.round(Math.abs((currentDate.getTime() - mailDate.getTime())/(oneDay)));
          return diffDays;
      }
      var mailApp = angular.module('mailApp', []);
      mailApp.controller('MailCtrl', function ($scope, $http, $location){
        var mailCtrl = this;
        mailCtrl.mails = [];
        mailCtrl.loadJson = function() {
          $http.get(mailCtrl.jsonUrl).success(function(data) {
            angular.forEach(data.mails, function(value, key) {
              if(value.type === 3){
                value.daysago = calculateDays(value.date);
                value.date = parsePADDate(value.date);
                mailCtrl.mails.push(value);
              }
            });

          });
        };
        mailCtrl.jsonUrl = $location.search().url;
      });
    </script>
  </head>
  <body>
  <div ng-controller="MailCtrl as mailCtrl" class="hidden-xs">
      <form ng-submit="mailCtrl.loadJson()">
        <input type="text" ng-model="mailCtrl.jsonUrl" size="30"
               placeholder="Mailbox JSON URL">
        <input class="btn-primary" type="submit" value="Load">
      </form>
    <table class="table">
      <thead>
        <tr>
          <th>Opened</th>
          <th>Title</th>
          <th>Reward</th>
          <th>Date</th>
          <th>Days ago</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mail in mailCtrl.mails | orderBy: '-date'">
          <td>
            {{mail.offered}}
          </td>
          <td>
            {{mail.sub}}
          </td>
          <td ng-if="mail.bonus_id != 9902 && mail.bonus_id != 9900">
            <a href="http://puzzledragonx.com/en/monster.asp?n={{mail.bonus_id}}">
            <img src="http://puzzledragonx.com/en/img/thumbnail/{{mail.bonus_id}}.png" width="30px" height="30px" />
            </a>
          </td>
          <td ng-if="mail.bonus_id === 9902">
            {{mail.amount}} Pal Points
          </td>
          <td ng-if="mail.bonus_id === 9900">
            {{mail.amount}} Coins
          </td>
          <td>
            {{mail.date | date }}
          </td>
          <td>
            {{mail.daysago }}d ago
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-controller="MailCtrl as mailCtrl" class="visible-xs-block">
    <form ng-submit="mailCtrl.loadJson()">
        <input type="text" ng-model="mailCtrl.jsonUrl" size="30"
               placeholder="Mailbox JSON URL">
        <input class="btn-primary" type="submit" value="Load">
      </form>
    <div class="media col-xs-12" ng-repeat="mail in mailCtrl.mails | orderBy: '-date'">
      <div class="media-left" ng-if="mail.bonus_id != 9902 && mail.bonus_id != 9900">
        <a href="http://puzzledragonx.com/en/monster.asp?n={{mail.bonus_id}}">
          <img class="media-object" src="http://puzzledragonx.com/en/img/thumbnail/{{mail.bonus_id}}.png" alt="{{mail.bonus_id}}" width="64px" height="64px">
        </a>
      </div>
      <div class="media-left" ng-if="mail.bonus_id === 9902">
        <a href="#">
          <img class="media-object" src="http://3.bp.blogspot.com/-AbxWo0MnH-I/UmA2BVJJJ5I/AAAAAAAAA48/Rqw0dZDQsMY/s1600/heart.png" width="64px" height="64px">
        </a>
      </div>
      <div class="media-left" ng-if="mail.bonus_id === 9900">
        <a href="#">
          <img class="media-object" src="http://www.mariowiki.com/images/thumb/a/a7/P%26DSMBE_OrbYellow.png" width="64px" height="64px">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{mail.sub}} <span class="pull-right">{{mail.daysago }}d ago</span></h4>
        <p ng-if="mail.bonus_id === 9902">{{mail.amount}} Pal Points</p>
        <p ng-if="mail.bonus_id === 9900">{{mail.amount}} Coins</p>
        <span class="pull-right" ng-if="mail.offered === 1"><small>OPENED</small></span>
      </div>
    </div>
  </div>
  </body>
</html>
